<!DOCTYPE html>
<html>
  <head>
   <title> Work Shift Logs</title>
  </head>
  <style>
    h1{
      text-align: center;
    }

    body{
      text-align: center;
    }
    #banner{
      width:100%;
      height:1000px;
    }
  </style>
  <body>
    <form action = "/input", method = "post">
    <h1>Work Shift Log</h1>
    <label for="full_name">Name</label>
    <input type=text id=full_name name=full_name required>
    <br>

    <label for="shift_start">Shift Start :</label>
    <input type="datetime-local" id=shift_start name=shift_start required>
    <br>

    <label for="shift_end">Shift End :</label>
    <input type="datetime-local" id=shift_end name=shift_end required>
    <br>

    <label for="picture">Picture</label>
    <input type="file" id=picture name=picture accept="image/*" required>
    <br>

    <button>Submit</button>

    <img id="banner" src="https://webapp--aryankhetarpal.repl.co/static/pic2.jpg">
    </form>
  </body>
</html>